html {
    --color-main: #ff3603;
    --color-dark: #1b2029;
    --color-light: #FFF;
    --font-display: 'Work Sans', sans-serif;
    --font-text: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
