#speaker {

    padding: 25px 0;
    color: @white;
    background: @dark;


    .header {
        position: relative;
        z-index: 1;
        margin-bottom: 50px;

        .container {
            padding: 0 0 25px 0;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid @white;
        }

        h1,
        h2 {
            letter-spacing: 1px;
            font-size: 0.8rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            display: inline-block;
            font-weight: normal;
        }

        h2 {
            color: @light;
            text-transform: none;
        }


    }

}
